body{
    background-color: rgb(97, 97, 108);
}
#text{
    color: white;
    background-color: black;
    padding: 10px;
}
#controls{
    border: 1px solid black;
    padding: 5px;
}
#game{
    text-align: center;
    background-color: lightgrey;
    color: white;
    padding: 20px;
    max-width: 500px;
    max-height: 400px;
    margin: 0 auto;
}
#stats{
    border: 1px solid black;
    color: black;
    padding: 5px;
}
#monsterStats{
    display: none;
    background-color: red;
    color: white;
    padding: 5px;
    border: 1px solid black;
}
.stat{
    padding-right: 10px;
}
